<!-- list -->
<ul class="nav" ng-controller="layoutCtrls">	
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
		<i class="fa fa-dashboard icon text-info-dker"></i>
		<span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.messages.list">
		<i class="glyphicon glyphicon-envelope icon text-info-dker"></i>
		<span class="font-bold" translate="aside.nav.MESSAGES">Messages</span>
		</a>
	</li>	
	<li ui-sref-active="active">
		<a ui-sref="app.friends.list">
		<i class="fa fa-users icon text-info-dker"></i>
		<span class="font-bold" translate="aside.nav.FRIENDS">Friends</span>
		</a>
	</li>
	<!-- <li ui-sref-active="active">
		<a ui-sref="app.users.list">
		<i class="glyphicon glyphicon-user icon text-info-dker"></i>
		<span class="font-bold" translate="aside.nav.USERS">Users</span>
		</a>
	</li> -->	
	<li class="line dk"></li>
	
</ul>
<!-- / list -->